 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
 *{
    padding: 0px;
    margin: 0px;   
    text-decoration: none;
}
body{
    background: #E5E5E5;
}
.container{
    width: 1442px;
    margin: 0 auto;
}   
/*HEADER*/
.header_common_block{
    display: flex;
    gap:443px;
    padding: 49px 0 80px 0;
    align-items: center;
    text-align: center;
    position: relative;
}   
.header_nav{
    display: flex;
    gap:50px;
    /* padding-bottom: 80px; */
    text-align: center;
    position: relative;
}
.LogoCompany{
    width:250px;
    height: 39px;
}
.header_nav a{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #565656;
    position: relative;
}    
.header_nav a:hover::after{
    content: "";
    width: 100%;
    height: 1px;   
    background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
    border: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}      
.header_nav_special_link{
    display: flex;
    gap:6px;
    align-items: center;
}
.detalisheader{
    display: flex;
    flex-direction: column;
}
.menu_change{
    background: white;
    display: flex;
    flex-direction: column;
    gap:12px;
    text-align: center;
    align-items: center;

    position: absolute;
    right:-15px;
    bottom:-80px;
    display: none;
}  
.menu_change h2{
    padding: 6px 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(86, 86, 86, 0.5);

}
.menu_change h2:hover
{
    background: rgba(86, 86, 86, 0.5);
    border: none;
}  

.SecondLogoCompany{
    display: none;
    width: 180px;
    height: 22px;
}      

/*MAIN*/
.main_common_block{
    display: flex;
    gap:275px;
    position: relative;


}   
.main_left_block{
    display: flex;
    flex-direction: column;
    padding-top: 121px;
}           
.main_left_block h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: #131313;
    padding-bottom: 40px;
    width: 525px;
}   
.main_left_block p{  
    width: 460px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #828282;
    padding-bottom: 100px;
}   
.main_left_block a{
    padding: 23px 41px;  
    background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
    border-radius: 5px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
      color: #FFFFFF;
    width: 154px;
}          


.main_left_block a:hover{
    transform: scale(1.2);
    transition: transform 1s;
}

.main_right_block{
    position: relative;
    overflow: visible;
    display: flex;
}   
.main_right_block img{
    width: 880px;
}  
.ThirdLogoCompany{display: none;}



/*FIRST_SECTION*/
.first_section_common_block{
    padding-top: 150px;
    padding-bottom: 393px;
    display: flex; 
    flex-direction: column; 
    gap:80px;
}      
.first_section_block_top{
    display: flex;
    gap:139px;
}
.first_section_block_top h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #131313;
    width: 473px;
}             
.first_section_block_top p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #828282;
    width: 571px;
}       
 
.first_section_block_cards{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}

.first_section_block_card{
    display: flex;
    background: #FFFFFF;
    width: 338px;
    height: 294px;
    flex-direction: column;
    gap: 40px;     
    border-radius: 10px;
    color:black
}            
.first_section_block_card:hover{
    background: #7421B0;
    color:white;
    transition: background 1s;
}
.first_section_block_card img{
    padding: 50px 0 0 60px;
    width: 80px;
    height: 80px;
}   
.first_section_block_card h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    width: 167px;
    padding: 0px 0 0 60px;
}
@media(min-width:768px) and (max-width:1460px)   
{
    .container{
        width: 678px;
    }
    .header_nav{
        display: none;
    }  
    .LogoCompany{display: none;}   
    .SecondLogoCompany{
        display: block;
    }   
    .header_common_block{
       gap:10px;  
    }
    .burger_nav{display: flex;}

    /*MAIN*/  
    .header_common_block{
        padding-bottom: 26px;
    }
    .main_common_block{
        gap:42px;
    }      
    .main_left_block h1{
        font-size: 24px;
        line-height: 28px;
        width: 263px;    
        padding-bottom: 22px;
    }      
    .main_left_block p{
        font-size: 12px;
        line-height: 180%;
        width: 263px;
        padding-bottom: 30px;
    }       
    .main_left_block a{
        padding: 13px 27px;   
        font-size: 12px;
        width: 118px;
    }  
    .main_right_block{
        object-fit: cover;
    } 
    .main_right_block img{
        width: 418px;
        height: 385px;
        
    }       
     .main_left_block{
        padding-top: 64px;
     }   
     .header_common_block{
        padding-top: 26px;
     }      


     /*FIRST_SECTION*/
    .first_section_common_block{
        gap:50px;
    }
    .first_section_block_top{
        gap:89px;
    }  
    .first_section_block_top h1{
        font-size: 20px;
        line-height: 24px;
        width: 263px;
    }      
    .first_section_block_top p{
        font-size: 12px;
        line-height: 200%;
        width: 324px;
    }     
    .first_section_block_card{
        width: 323px;
        height: 294px;
        gap:50px;
        
    }   
    .first_section_block_card img{
        padding: 60px 0 0 60px;
        width: 60px;
        height: 60px;
    }  
    .first_section_block_card h2{
        font-size: 18px;
        line-height: 160%;
        width: 150px;
        padding-left: 63px;
    }


    

}     
@media(max-width:768px)  
{
    .container{width: 345px;}         
    .header_nav{
        display: none;

    }  
    .LogoCompany{display: none;}
    .SecondLogoCompany{display: none;}   
    .ThirdLogoCompany{display: flex;}
    .burger_nav{
        display: flex;
  
    }     
    .burger_item{display: none}             
    .header_common_block{
        padding-bottom: 30px;
    }
    .main_common_block{
        flex-wrap: wrap-reverse;
        gap:60px;
        text-align: center;
        justify-content: center;
        align-items: center;
    } 
    

    .main_left_block{
        padding-top: 0px;
        text-align: center;
        align-items: center;
    }
    .main_right_block img{
        width: 346px;

    }      
    .main_left_block h1{
        padding-top: 0px;
        text-align: center;   
        font-size: 24px;
        line-height: 28px;
        width: 263px;
        padding-bottom: 22px;
    }         
    .main_left_block p{
        text-align: center;
        font-size: 12px;
        line-height: 180%;
        width: 263px;
        padding-bottom: 37px;
    }   
    .header_common_block{
        padding-top: 29px;
    }  


    /*FIRST_SECTION*/
    
    .first_section_common_block{
        padding-top: 60px;
        gap:20px;
    }   
    .first_section_block_top{
        flex-direction: column;
        gap:20px;
        justify-content: center;
        align-items: center;
    }   
    .first_section_block_top h1{
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        width: 263px; 
    }   
    .first_section_block_top p{
        font-size: 12px;
        line-height: 200%;
        text-align: center;
        width: 320px;
    }    
    .first_section_block_cards{
        gap:20px;
    }   
    .first_section_block_card{
        width: 345px;
        height: 92px;
        display: flex;
        flex-direction: row;

    }    
    .first_section_block_card img{
        width: 40px;
        height: 40px; 
        padding: 26px 0 0 52px;
    }                           
    .first_section_block_card h2
    {
        font-size: 14px;
        line-height: 133%;
        width: 117px;
        padding-left: 60px;   
        padding-top:27px;
    }
}  