 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
 *{
    padding: 0px;
    margin: 0px;   
    text-decoration: none;
}
body{
    background: #E5E5E5;
}
.container{
    width: 1442px;
    margin: 0 auto;
}   
/*HEADER*/
.header_common_block{
    display: flex;
    gap:443px;
    padding: 49px 0 80px 0;
    align-items: center;
    text-align: center;
    position: relative;
}   
.header_nav{
    display: flex;
    gap:50px;
    /* padding-bottom: 80px; */
    text-align: center;
    position: relative;
}
.LogoCompany{
    width:250px;
    height: 39px;
}
.header_nav a{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #565656;
    position: relative;
}    
.header_nav a:hover::after{
    content: "";
    width: 100%;
    height: 1px;   
    background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
    border: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}      
.header_nav_special_link{
    display: flex;
    gap:6px;
    align-items: center;
}
.detalisheader{
    display: flex;
    flex-direction: column;
}
.menu_change{
    position: absolute;
    right: 0px;
    top:16px;
    z-index: 2;  
    display: none;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
}     
.menu_change img{
     width: 40px;
     height: 40px;
}  
.menu_change_nav{
    display: none;
    flex-direction: column;
    text-align: center;
    background: white;
}  
.menu_change_nav a{
    padding:20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: black;
}   

 
.menu_change_nav a:hover{
    background: linear-gradient(180deg, #7421B0 0%, #D08EFF 100%);
    color: white;
} 
.SecondLogoCompany{
    display: none;
    width: 180px;
    height: 22px;
}      

/*MAIN*/
.main_common_block{
    display: flex;
    gap:275px;
    position: relative;


}   
.main_left_block{
    display: flex;
    flex-direction: column;
    padding-top: 121px;
}           
.main_left_block h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: #131313;
    padding-bottom: 40px;
    width: 525px;
}   
.main_left_block p{  
    width: 460px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #828282;
    padding-bottom: 100px;
}   
.main_left_block a{
    padding: 23px 41px;  
    background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
    border-radius: 5px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
      color: #FFFFFF;
    width: 154px;
}          


.main_left_block a:hover{
    transform: scale(1.2);
    transition: transform 1s;
}

.main_right_block{
    position: relative;
    overflow: visible;
    display: flex;
}   
.main_right_block img{
    width: 880px;
}  
.ThirdLogoCompany{display: none;}



/*FIRST_SECTION*/
.first_section_common_block{
    padding-top: 150px;
    padding-bottom: 393px;
    display: flex; 
    flex-direction: column; 
    gap:80px;
}      
.first_section_block_top{
    display: flex;
    gap:139px;
}
.first_section_block_top h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #131313;
    width: 473px;
}             
.first_section_block_top p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #828282;
    width: 571px;
}       
 
.first_section_block_cards{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}

.first_section_block_card{
    display: flex;
    background: #FFFFFF;
    width: 338px;
    height: 294px;
    flex-direction: column;
    gap: 40px;     
    border-radius: 10px;
    color:black
}            
.first_section_block_card:hover{
    background: #7421B0;
    color:white;
    transition: background 1s;
}
.first_section_block_card img{
    padding: 50px 0 0 60px;
    width: 80px;
    height: 80px;
}     
.first_section_block_card:hover .firstPhotoCars{
    display: none;
}   
.secondPhotoCards{display: none;}
.first_section_block_card:hover .secondPhotoCards
{
display: flex;
}
.first_section_block_card h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    width: 186px;
    padding: 0px 0 0 60px;
}      
/*SECOND_SECTIOM*/
.second_section_common_block_item{
    display: flex;
    gap:153px;       
    padding-bottom:300px;
}      
.second_section_common_block_item:last-child{
    padding-bottom:350px;
}
.second_section_block_info{
    display: flex;
    flex-direction: column;   
       
}      
.second_section_img{
    width: 705px;
    height: 397px;
}      
.second_section_pink_text{color: #7421B0;} 
.second_section_block_info h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #131313;
    padding-top: 63px;
}           
.second_section_block_info p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #828282; 
    width: 460px;
    padding-top: 40px;
}      
._second_section_common_block_item_special{
    flex-direction: row-reverse;
}   
.second_section_block_info_specia{
    padding-top: 95px;
}      


/*THIRD_SECTION*/
.second_section_block_cards{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}     
.second_section_block_card{
    display: flex;
    background: #FFFFFF;
    width: 338px;
    height: 294px;
    flex-direction: column;
    gap: 40px;     
    border-radius: 10px;
    color:black;
}      
.second_section_block_card:hover{
    background: #7421B0;
    color:white;
    transition: background 1s;
}          
.second_section_block_card img{
    padding: 50px 0 0 60px;
    width: 80px;
    height: 80px;
}     
.second_section_block_card:hover .firstPhotoCars{  
    transition: display 1s;
    display: none;
}            
.secondPhotoCards{display: none;}
.second_section_block_card:hover .secondPhotoCards
{
    display: flex;      
    transition: display 1s;
}
.second_section_block_card h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    width: 186px;
    padding: 0px 0 0 60px;
} 
.third_section_common_block{
    display: flex;
    flex-direction: column;
    gap:90px;
    align-items: center;
}      
.second_section_button{
    background: #131313;
    padding: 23px 41px;
    border-radius: 5px;
    margin-bottom: 100px;
    /* width: 235px;
    height: 70px; */
}   
.second_section_button:hover{
    transform: scale(1.1);
    transition: transform 1s;
}
.second_section_button a{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    color: #FFFFFF;
}

/*FOURTH_SECTION*/
.fourth_section_common_block
{
    display: flex;
    flex-direction: column;    
    gap:200px;      
    background: linear-gradient(1.36deg, rgba(255, 255, 255, 0.5) 0.92%, rgba(255, 255, 255, 0) 61.36%), linear-gradient(123.35deg, rgba(235, 243, 208, 0.05) 0%, rgba(235, 243, 208, 0) 18.4%), radial-gradient(29.9% 70.94% at 44.25% 86.96%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(33.83% 53.57% at 35.87% 100%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(42.66% 49.72% at 45.56% 44.65%, rgba(203, 173, 235, 0.05) 0%, rgba(194, 166, 241, 0) 100%), linear-gradient(134.59deg, rgba(205, 249, 232, 0.05) 20.63%, rgba(205, 249, 232, 0) 47.84%), linear-gradient(216.44deg, rgba(192, 169, 240, 0) -16.52%, rgba(192, 169, 240, 0.05) -1.04%, rgba(192, 169, 240, 0) 16.99%), linear-gradient(128.53deg, rgba(192, 169, 240, 0) 28.63%, rgba(192, 169, 240, 0.05) 38.5%, rgba(192, 169, 240, 0) 50.26%), radial-gradient(40.75% 97.37% at 90.75% 40.15%, rgba(255, 253, 177, 0.05) 0%, rgba(254, 228, 191, 0.05) 34.46%, rgba(240, 189, 208, 0.05) 69.5%, rgba(255, 129, 38, 0) 100%), rgba(194, 166, 241, 0.05);
    backdrop-filter: blur(20px);     
    border-radius: 70px;   
    width: 1808px;
    height: 1825px;
    margin: 0 auto;
}                   
.fourth_section_top_article h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;      
    color:#131313;
    padding: 100px 0;
    width: 515px;
}          


.fourth_section_pink_text{
    color:#7421B0;
}
.fourth_section_block_cards{
    display: flex;
    gap:84px;
}                 
.fourth_section_card{
    display: flex;
    flex-direction: column;
    width: 409px;
    height:498px;
}       
.fourth_section_card:first-child img{
    width: 111px;
    height: 111px;
}   
.fourth_section_card img {
    width: 111px;   
    height: 119px;
    margin-bottom: 59px;
}                    
.fourth_section_card_text_block{
    display: flex;
    gap:50px;
    margin-bottom: 60px;
}        
.fourth_section_card_text_block h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
     text-align: center;
     color: #7421B0;
}                    
.fourth_section_card_text_block h3{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #131313;
    width: 90px;
}    
.fourth_section_card p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #828282;
    width: 409px;
}        
.fourth_section_card:nth-child(2) p {
    width: 393px;
} 
.fourth_section_card:nth-child(3) p {
    width: 395px;
}  
.fourth_section_bottom_article{
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
   align-items: center;
}      
.fourth_section_bottom_article h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #131313;
    margin-bottom: 100px;
}   
.fourth_section_bottom_article_block_steps{
    display: flex;
    gap:30px;
}
.fourth_section_bottom_article_step{
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 407px;
}          
.fourth_section_bottom_article_step h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #7421B0;
    padding-bottom: 60px;
}  
.fourth_section_bottom_article_step_block_download{
    background: white;
    width: 460px;
    height: 200px;
    position: relative;
    border-radius: 10px;
}      
.fourth_section_bottom_article_step:first-child a{
    font-size: 16px;
    line-height: 150%;
    width: 153px;
    color: #FFFFFF; 
    background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
    border-radius: 10px;
    padding:23px 41px;
    opacity: 1;
}           
            
.fourth_section_bottom_article_step_block_download a{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);     
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 180%;
    color: #7421B0;
    opacity: 0.3;
}                      
.fourth_section_bottom_article_step h3{
    padding-top: 40px;        
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #828282;
    width: 413px;
}       
.fourth_section_pink_text{
    color:#7421B0;
}   
.fourth_section_bottom_article_btn{
    background: #131313;
    border-radius: 5px;
    position: relative;
    margin-top: 60px;
    width: 235px;
    height: 70px;
}
.fourth_section_bottom_article_btn a{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;            
    position: absolute;      
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 153px;
}
@media(min-width:767px) and (max-width:1460px)   
{
    .container{
        width: 678px;
    }
    .header_nav{
        display: none;
    }     
    .menu_change{display: flex;}
    .LogoCompany{display: none;}   
    .SecondLogoCompany{
        display: block;
    }   
    .header_common_block{
       gap:10px;  
    }
    /*MAIN*/  
    .header_common_block{
        padding-bottom: 26px;
    }
    .main_common_block{
        gap:42px;
    }      
    .main_left_block h1{
        font-size: 24px;
        line-height: 28px;
        width: 263px;    
        padding-bottom: 22px;
    }      
    .main_left_block p{
        font-size: 12px;
        line-height: 180%;
        width: 263px;
        padding-bottom: 30px;
    }       
    .main_left_block a{
        padding: 13px 27px;   
        font-size: 12px;
        width: 118px;
    }  
    .main_right_block{
        object-fit: cover;
    } 
    .main_right_block img{
        width: 418px;
        height: 385px;
        
    }       
     .main_left_block{
        padding-top: 64px;
     }   
     .header_common_block{
        padding-top: 26px;
     }      


     /*FIRST_SECTION*/
    .first_section_common_block{
        gap:50px;
    }
    .first_section_block_top{
        gap:89px;
    }  
    .first_section_block_top h1{
        font-size: 20px;
        line-height: 24px;
        width: 263px;
    }      
    .first_section_block_top p{
        font-size: 12px;
        line-height: 200%;
        width: 324px;
    }     
    .first_section_block_card{
        width: 323px;
        height: 294px;
        gap:50px;
        
    }   
    .first_section_block_card img{
        padding: 60px 0 0 60px;
        width: 60px;
        height: 60px;
    }  
    .first_section_block_card h2{
        font-size: 18px;
        line-height: 160%;
        width: 150px;
        padding-left: 63px;
    }     
    /*SECOND_SECTION*/
    .first_section_common_block{
        padding-bottom: 202px;
    }   
    .second_section_common_block_item{
        flex-direction: column;
        gap:62px; 
        padding-bottom: 189px;
        align-items: center;
    }  
    .second_section_img{
        width: 561px;
        height: 315px;
    }
    .second_section_img img{
        width: 561px;
        height: 315px;
    }   
    .second_section_block_info{
        
        flex-direction: row;
        gap:85px;
    } 
    .second_section_block_info h1{
        font-size: 20px;
        line-height: 24px;
        width: 151px;
        padding-top: 0px;
    }       
    .second_section_block_info p{
        font-size: 14px;
        line-height: 188%;
        padding-top: 0px;
        width: 442px;
    }
    /*THIRD_SECTION*/
    .second_section_block_card{
        width: 323px;
        height: 294px;
        gap:50px;
    }     
    .second_section_block_card img{
        padding: 60px 0 0 60px;
        width: 60px;
        height: 60px;
    }  
    .second_section_block_card h2{
        font-size: 18px;
        line-height: 160%;
        width: 150px;
        padding-left: 63px;
    }     
    .second_section_common_block_item:last-child{
        padding-bottom:150px;
    }
    /*FOURTH_SECTION*/
    .fourth_section_common_block{
        gap:100px;
        width: 730px;
        height: 2441px;
    }                
    .fourth_section_top_article h1{
        padding: 60px 0 75px 0;       
        font-size: 20px;
        line-height: 24px;
        width: 286px;
    }  
    .fourth_section_block_cards{
        flex-direction: column;
        gap:60px;
    }  
    .fourth_section_card{
        flex-direction: row;
        gap:79px;           
        width: 611px;
        height: 260px;
        padding-left: 67px;
    }      
    
    .fourth_section_card:first-child img{
        width: 90px;
        height: 90px;
    }   
    .fourth_section_card img {
        width: 90px;   
        height: 97px;
        margin-bottom: 0px;
    }     
    .fourth_section_card_text_block{
        gap:28px;
        margin-bottom: 30px;
    }             
    .fourth_section_card_text_block h2{
        font-size: 20px;
        line-height: 24px;
    }          
    .fouth_section_text_block_common{
        height: 214px;
        width: 442px ;

    }    
    .fourth_section_card_text_block h3{
        font-size: 18px;
        line-height: 21px;
        width: 68px;
    }   
    .fourth_section_card p{
        font-size: 14px;
        line-height: 200%;
        width: 442px;
    }

    

}     
@media(max-width:767px)  
{  
    .menu_change{display: flex;}
    .menu_change_nav{display: none;}
    .container{width: 345px;}         
    .header_nav{
        display: none;

    }  
    .LogoCompany{display: none;}
    .SecondLogoCompany{display: none;}   
    .ThirdLogoCompany{display: flex;}
    .burger_nav{
        display: flex;
  
    }     
    .burger_item{display: none}             
    .header_common_block{
        padding-bottom: 30px;
    }
    .main_common_block{
        flex-wrap: wrap-reverse;
        gap:60px;
        text-align: center;
        justify-content: center;
        align-items: center;
    } 
    

    .main_left_block{
        padding-top: 0px;
        text-align: center;
        align-items: center;
    }
    .main_right_block img{
        width: 346px;

    }      
    .main_left_block h1{
        padding-top: 0px;
        text-align: center;   
        font-size: 24px;
        line-height: 28px;
        width: 263px;
        padding-bottom: 22px;
    }         
    .main_left_block p{
        text-align: center;
        font-size: 12px;
        line-height: 180%;
        width: 263px;
        padding-bottom: 37px;
    }   
    .header_common_block{
        padding-top: 29px;
    }  


    /*FIRST_SECTION*/
    
    .first_section_common_block{
        padding-top: 60px;
        gap:20px;
    }   
    .first_section_block_top{
        flex-direction: column;
        gap:20px;
        justify-content: center;
        align-items: center;
    }   
    .first_section_block_top h1{
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        width: 263px; 
    }   
    .first_section_block_top p{
        font-size: 12px;
        line-height: 200%;
        text-align: center;
        width: 320px;
    }    
    .first_section_block_cards{
        gap:20px;
    }   
    .first_section_block_card{
        width: 345px;
        height: 92px;
        display: flex;
        flex-direction: row;

    }    
    .first_section_block_card img{
        width: 40px;
        height: 40px; 
        padding: 26px 0 0 52px;
    }                           
    .first_section_block_card h2
    {
        font-size: 14px;
        line-height: 133%;
        width: 117px;
        padding-left: 60px;   
        padding-top:27px;
    }            
    /*SECOND_SECTION*/
    .first_section_common_block{
        padding-bottom: 90px;
    }   
    .second_section_common_block_item{
        flex-direction: column;
        gap:30px; 
        align-items: center;    
        text-align: center;
        padding-bottom: 100px;
        justify-content: center;
    }  
    .second_section_img{
        width: 345px;
        height: 193px;
    }
    .second_section_img img{
        width: 345px;
        height: 193px;
    }   
    .second_section_block_info{
        gap:20px;
        align-items: center;
    } 
    .second_section_block_info h1{
        font-size: 20px;
        line-height: 24px;
        width: 151px;
        padding-top: 0px;
    }       
    .second_section_block_info p{
        font-size: 12px;
        line-height: 188%;
        text-align: center;
        padding-top: 20px;
        width: 341px;
    }                  
    /*THIRD_SECTION*/
   
    .second_section_block_cards{
        gap:20px;
    }   
    .second_section_block_card{
        width: 345px;
        height: 92px;
        display: flex;
        flex-direction: row;

    }  
    .second_section_common_block_item:last-child{
        padding-bottom:60px;
    }   
    .second_section_block_card img{
        width: 40px;
        height: 40px; 
        padding: 26px 0 0 52px;
    }                           
    .second_section_block_card h2
    {
        font-size: 14px;
        line-height: 133%;
        width: 117px;
        padding-left: 60px;   
        padding-top:27px;
    }                 
    /*FOURTH_SECTION*/ 
    .fourth_section_common_block{
        gap:60px;
        width: 376px;
        height: 2226px;

    }             
    .fourth_section_top_article h1{
        padding: 41px 0px 30px 0px;       
        font-size: 20px;
        line-height: 24px;
        width: 286px;
        text-align: center;
        justify-content: center;
    }  
    .fourth_section_block_cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }  
    .fourth_section_card{
        flex-direction: column;
        gap:30px;           
        width: 344px;
        height: 287px;
        
    }        
    .fourth_section_card:first-child img{
        width: 90px;
        height: 90px;
    }   
    .fourth_section_card img {
        width: 90px;   
        height: 97px;
        margin-bottom: 0px;
    }     
    .fourth_section_card_text_block{
        gap:30px;
        margin-bottom: 20px;
        justify-content: center;
    }             
    .fourth_section_card_text_block h2{
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }                    
    .fourth_section_card_text_block h3{
        font-size: 18px;
        line-height: 21px;
        width: 200px;
    } 
    /* .fouth_section_text_block_common{
        height: 214px;
        width: 442px ;

    }     */
  
    .fourth_section_card p{
        font-size: 12px;
        line-height: 200%;
        text-align: center;
        width: 344px;
        padding-bottom: 40px;
    }  
    .fourth_section_card:nth-child(2) p {
        width: 344px;
    } 
    .fourth_section_card:nth-child(3) p {
        width: 344px;
    } 
}  